video {
	z-index: -1;
	object-fit: cover;
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

.cardDetailContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-around;
	margin: 2rem;
}

.mainContainer {
	color: white;
}

.name {
	font-size: 3rem;
	font-weight: 300;
}

.temp {
	font-size: 7rem;
	font-weight: 200;
}

.description {
	font-size: 2rem;
	font-weight: 300;
}

.minmaxContainer {
	display: flex;
	justify-content: center;
}

.minmaxContainer p {
	margin: 0.3rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.parent {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-row-gap: 5px;
	width: fit-content;

	justify-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	margin: 3rem 0.5rem;

	color: white;
	font-size: 2rem;

	border-radius: 20px;
	box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.3);

	width: 220px;
	height: 220px;
}

.day {
	background: linear-gradient(
		180deg,
		rgba(59, 104, 163, 1) 70%,
		rgb(92, 132, 185) 100%
	);
}

.night {
	background: linear-gradient(
		180deg,
		rgb(12, 22, 35) 70%,
		rgb(25, 45, 70) 100%
	);
}
